<html>
	<head>
		SER421 Survey Match!
	</head>

	<body>
		<form method="POST">
			Username:<input type="text" name="username" required><br>
			<input type="submit" name = "action" value="survey" formaction="/survey">
			<input type="submit" name = "action" value="match" formaction="/match">
		</form>
	</body>
</html>