<html>
	<head>
		Change preferences
	</head>

	<body>
		<form method="POST">
			<input type="radio" name="pref" value="horizontal" checked>horizontal<br>
			<input type="radio" name="pref" value="vertical">vertical<br>
			<input type="submit" name = "action" value="ok" formaction="/survey">
		</form>
	</body>
</html>